.vim/bundle/*
.vim/undodir/*
morevim/bundle/*
morevim/undodir/*
morevim/local.vim
morevim/.netrwhist
morevim/haskellmode.config
zsh/zsh_local
tmux/tmux.version.conf
tmux/plugins
tmux/tmux
tmux/root.conf
