snippet test
	${1:REPO}: ${2:MODULE}: ${3:keyword}: ${4:main message}

	${5:link if BUG, and description}

	Root Cause: ${6:if BUG}
	Solution: ${7:if BUG}
	Self Test: ${8}, ${9:success time}/${10:fail times}, ${11:platform}
	Impact: Known issue - ${12:NONE}, Impact - ${13:impact}
